body {
  margin: 0;
  padding: 0 !important;
  overflow: unset !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter-Regular.ttf) format('opentype');
}

.navbar-expand .navbar-nav {
  display: flex;
  gap: 3.5rem !important;
  margin: auto !important;
}

.ml-auto {
  margin-left: unset !important;
}

.container {
  /* max-width: 1700px !important; */
  max-width: 100% !important;
  padding: unset !important;
}

.nav-link {
  padding: unset !important;
}

.mx-auto {
  padding: unset !important;
}

.row {
  margin: unset !important;
}

a {
  text-decoration: none !important;
}

.css-hyum1k-MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  padding: unset !important;
}

.css-1oqqzyl-MuiContainer-root {
  max-width: unset !important;
  padding: unset !important;
}

.css-i6s8oy {
  display: flex !important;
  justify-content: space-between !important;
  padding-left: unset !important;
  padding-right: unset !important;
}

.css-1qsxih2 {
  max-width: unset !important;
  padding: unset !important;
}

.navbar {
  padding: unset !important;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
}

.ml-auto {
  display: flex;
  gap: 3rem;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: unset !important;
} */

.form-select:focus {
  box-shadow: unset !important;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  padding: unset !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  position: unset !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  position: unset !important;
}

.css-1ujnqem-MuiTabs-root {
  min-height: unset !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: unset !important;
}

.css-19kzrtu {
  padding: unset !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: rgba(255, 255, 255, 0.01) !important;
  z-index: 3;
}

.btn-primary {
  display:flex !important;
  align-items:center !important;
  border: none !important;
  background-color: unset !important;
  padding:unset !important;
}

.btn.show {
  background-color: unset !important;
}